@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@300&family=Russo+One&display=swap");
header {
  background-image: url("../images/desktop/boxFotoRetocada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding-top: 5%;
  padding-bottom: 10%;
  border: solid 3px black; }

/* class girar  */
.girar {
  transition: 1s; }
  .girar:hover {
    transform: scale(1.5); }

.imgRedonda {
  width: 60px;
  height: 60px;
  border-radius: 150px;
  border: 2px solid #666;
  transform: rotate(360deg); }

/* formato propio nav */
.navPropio {
  border-radius: 10px;
  position: relative;
  top: 12rem; }
  .navPropio #aLogo:hover {
    background-color: transparent;
    border-right: none;
    background-color: none;
    color: transparent;
    opacity: 2;
    padding: none; }
  .navPropio a {
    color: white;
    background-color: #292828;
    opacity: 0.5;
    font-weight: bold;
    border-right: 2px inset #353535;
    font-family: 'Mulish', sans-serif;
    padding: 1rem; }
    .navPropio a:hover {
      background-color: #ed0a0a; }
  .navPropio sinBorde {
    border-right: solid 0px; }

/* maps */
.mapa {
  border: solid 1px blue;
  box-shadow: 10px 10px 8px #888888; }

.map-responsive {
  width: 600px;
  height: 600px;
  box-shadow: 12px 12px 10px #888888; }

.cardImagen {
  width: 400px;
  height: 400px;
  box-shadow: 12px 12px 10px #888888; }

.cardPers {
  background-image: linear-gradient(to right top, #121314, #384144, #617573, #96ad9f, #dbe5c9); }

.headerMain {
  background-image: url("../images/desktop/Entrenamiento-CrossFit.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding-bottom: 30%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* main class contenedor Propio */
main, .contenedor {
  background-image: url("../images/Crossfit.jpg");
  text-shadow: none; }

.contenedor {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.925) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.925) 100%); }
  .contenedor ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
    overflow: auto; }
    .contenedor ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      border-radius: 10px;
      border: solid 2px #e3e3e6;
      background-image: linear-gradient(to right top, #051937, #002b3d, #133a3c, #35473f, #50534b); }
  .contenedor img {
    width: 15rem;
    height: 15rem; }
  .contenedor p {
    text-align: center;
    color: white;
    font-size: 10pt; }

h1 {
  font-size: 30pt;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  color: white;
  text-align: center;
  padding: 1rem; }

h2 {
  font-size: 25pt;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  color: white;
  text-align: center;
  padding-top: 5%; }

h3 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: "helvetica";
  text-align: left; }

.container__li {
  font-size: 15pt;
  font-weight: normal;
  font-family: "Mulish", sans-serif;
  padding: 1%;
  margin: 1%;
  background-image: linear-gradient(to right top, #051937, #002b3d, #133a3c, #35473f, #50534b); }
  .container__li:hover {
    opacity: 1;
    transform: scale(1.15, 1.15); }

/* flecha arriba */
.irHeader a {
  width: 200px;
  height: 50px;
  position: fixed;
  bottom: 4rem;
  left: 0;
  background-color: transparent;
  text-align: center; }

.irHeader img {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 3rem;
  box-shadow: 0px 0px 15px 15px #7b67a7;
  padding: 10px; }

.leyenda {
  background-image: linear-gradient(to right, #162a48, #163a58, #164a66, #1a5b73, #236c7f);
  font-size: 30pt;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  color: white;
  border: solid 1px white;
  padding-top: 3px; }

.colorIconosFacebook {
  background-color: #3b5998; }

.instagramNu {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; }

.iconoInput {
  text-transform: lowercase;
  font-family: "Font awesome 5 free";
  font-weight: 200;
  font-size: small; }

::placeholder {
  font-family: "Font awesome 5 free";
  font-weight: 200;
  font-size: small; }

/* cabecera con imagenes y titulos */
.container__cabecera {
  border: solid 2px #3179aa;
  background-image: url("../images/desktop/pesas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 15%; }

.h1__producto {
  font-size: 20pt;
  font-family: "Mulish", sans-serif;
  color: white;
  padding-bottom: 5%;
  /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);*/ }

.container__cabecera__alta {
  background-image: url("../images/desktop/altaAtletas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 20%; }

.container__cabecera__atleta {
  background-image: url("../images/desktop/clase.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 20%; }

.container__gridContacto__imagen {
  background-image: url("../images/desktop/payload.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-color: aqua; }

.container__cabecera__productos {
  background-image: url("../images/desktop/productos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 20%; }

.container__cabecera__contacto {
  background-image: url("../images/desktop/contacto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 20%; }

/* estilos formularios */
/* botones */
.container__input {
  background-image: linear-gradient(to right, #051937, #003347, #204c4e, #4b6257, #74786a);
  font-size: 15pt;
  font-weight: normal;
  font-family: "Mulish", sans-serif;
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: white;
  border-radius: 10px; }

.container__form__textArea_text {
  position: relative;
  top: 3rem;
  left: 8rem; }

.container__form, .colorHelp {
  font-family: 'Mulish', sans-serif;
  font-size: 15pt;
  color: white;
  width: 70%; }

/* estilos parametrizado */
.colorHelp {
  color: white;
  font-weight: bold;
  width: 70%;
  font-size: medium; }

/* estilos para tabla */
.rowTabla {
  display: table-row;
  text-align: justify;
  border: solid 2px white;
  background-image: radial-gradient(circle, #0e274c, #1c3468, #304185, #494ea2, #6659be); }

.tabla {
  overflow-x: auto; }

.primera,
.segunda,
.tercera,
.cuarta,
.quinta {
  display: table-cell;
  padding-right: 25px;
  border: solid 1px white;
  background-image: radial-gradient(circle, #0e274c, #1c3468, #304185, #494ea2, #6659be); }

.primera p,
.segunda p,
.tercera p,
.cuarta p,
.quinta p {
  margin: 1px 1px;
  font-family: 'Mulish', sans-serif;
  font-size: 20pt; }

.primera .titulo,
.segunda .titulo,
.tercera .titulo,
.cuarta .titulo,
.quinta .titulo {
  margin: 1px 1px; }

/*vista mobile */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  header {
    padding-top: 40%;
    background-image: url("../images/mov/boxFotoRetocadaMov.jpg"); }
  /* propio del nav */
  .navPropio {
    position: absolute;
    top: 10rem; }
    .navPropio a {
      font-size: small; }
  /* mapa */
  .map-responsive {
    width: 300px;
    height: 150px; }
  /* tamaño de card */
  .cardImagen {
    width: 200px;
    height: 200px; }
  /*  seccion presentacion */
  .headerMain p {
    font-size: 10pt;
    font-weight: normal;
    position: relative;
    top: 8rem; }
  .contenedor h3 {
    font-size: 15pt;
    padding-bottom: 1%;
    padding-left: 2%;
    color: white; }
  .containerTabla {
    width: 90vw; }
  /* fuente de tabla */
  .primera p,
  .segunda p,
  .tercera p,
  .cuarta p,
  .quinta p {
    margin: 1px 1px;
    font-family: 'Mulish', sans-serif;
    font-size: 10pt; }
  .h1__producto {
    font-size: 20pt;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
  /* containers */
  .container__cabecera {
    background-image: url("../images/mov/pesasMov.jpg"); }
  .container__cabecera__alta {
    background-image: url("../images/mov/altaAtletasMov.jpg"); }
  .container__cabecera__atleta {
    background-image: url("../images/mov/claseMov.jpg"); }
  .container__cabecera__contacto {
    background-image: url("../images/mov/contactoMov.jpg"); }
  .container__cabecera__productos {
    background-image: url("../images/mov/productosMov.jpg"); }
  .container__input {
    font-size: 10pt;
    padding: 5%; }
  .leyenda {
    font-size: 15pt;
    text-align: center;
    font-weight: bold; } }

/*vista tablet */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  header {
    padding-top: 20%;
    background-image: url("../images/tablet/boxFotoRetocadaTab.jpg"); }
  .navPropio {
    position: absolute;
    top: 13rem; }
  .map-responsive {
    width: 600px;
    height: 400px; }
  .cardImagen {
    width: 300px;
    height: 300px; }
  .leyenda {
    font-size: 20pt;
    text-align: center;
    font-weight: bold; }
  /*  seccion presentacion */
  .headerMain p {
    font-size: 18pt;
    position: relative;
    top: 6rem; }
  .container__cabecera {
    background-image: url("../images/tablet/pesasTab.jpg"); }
  .container__cabecera__alta {
    background-image: url("../images/Tablet/altaAtletasTab.jpg"); }
  .container__cabecera__atleta {
    background-image: url("../images/tablet/claseTab.jpg"); }
  .container__cabecera__contacto {
    background-image: url("../images/tablet/contactoTab.jpg"); }
  .container__cabecera__productos {
    background-image: url("../images/tablet/productosTab.jpg"); } }
