@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@300&family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main class contenedor Propio */

main {
    //    background-image: linear-gradient(to right, #585c62, #4e5964, #415765, #315665, #1a5463);
    background-image: url("../images/Crossfit.jpg");
    text-shadow: none;
}

.contenedor {
    @extend main;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.925) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.925) 100%);
    ul {
        @include flex-row-center;
        justify-content: space-around;
        padding: 2%;
        overflow: auto;
        li {
            @include flex-column-center;
            align-items: center;
            border-radius: 10px;
            border: solid 2px rgb(227, 227, 230);
            background-image: linear-gradient(to right top, #051937, #002b3d, #133a3c, #35473f, #50534b);
        }
    }
    img {
        width: 15rem;
        height: 15rem;
    }
    p {
        text-align: center;
        color: $color-blanco;
        font-size: 10pt;
    }
}

h1 {
    font-size: map-get($tipoH1, tamfuente);
    font-weight: map-get($tipoH1, tipo);
    font-family: $fuente-principal;
    color: $color-blanco;
    text-align: map-get($tipoH1, centro);
    padding: 1rem;
}

h2 {
    font-size: map-get($tipoH2, tamfuente);
    font-weight: map-get($tipoH2, tipo);
    font-family: $fuente-principal;
    color: $color-blanco;
    text-align: center;
    padding-top: map-get($tipoH2, padd);
}

h3 {
    color: map-get($tipoH3, tipoColor);
    font-size: map-get($tipoH3, tamfuente);
    font-weight: map-get($tipoH3, tipo);
    font-family: map-get($tipoH3, tipoLetra);
    text-align: map-get($tipoH3, izquierda);
}

.container__li {
    font-size: 15pt;
    font-weight: normal;
    font-family: $fuente-principal;
    padding: 1%;
    margin: 1%;
    background-image: linear-gradient(to right top, #051937, #002b3d, #133a3c, #35473f, #50534b);
    &:hover {
        opacity: 1;
        transform: scale(1.15, 1.15);
    }
}


/* flecha arriba */

.irHeader {
    a {
        width: 200px;
        height: 50px;
        position: fixed;
        bottom: 4rem;
        left: 0;
        background-color: transparent;
        text-align: center;
    }
    img {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 3rem;
        box-shadow: 0px 0px 15px 15px #7b67a7;
        padding: 10px;
    }
}

.leyenda {
    background-image: linear-gradient(to right, #162a48, #163a58, #164a66, #1a5b73, #236c7f);
    font-size: 30pt;
    font-weight: $tipo-negrita;
    font-family: 'Mulish', sans-serif;
    color: white;
    border: solid 1px $color-blanco;
    padding-top: 3px;
}

.colorIconosFacebook {
    background-color: #3b5998;
}

.instagramNu {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.iconoInput {
    text-transform: lowercase;
    font-family: "Font awesome 5 free";
    font-weight: 200;
    font-size: small;
}

::placeholder {
    font-family: "Font awesome 5 free";
    font-weight: 200;
    font-size: small;
}