@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@300&family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main class contenedor Propio */

main {
    background: linear-gradient(80deg, black, rgb(157, 155, 155));
    text-shadow: none;
}

.contenedor {
    @extend main;
    ul {
        @include flex-row-center;
        justify-content: space-around;
        padding: 2%;
        overflow: auto;
        li {
            @include flex-column-center;
            align-items: center;
            border-radius: 10px;
            border: solid 2px rgb(227, 227, 230);
            background-image: linear-gradient(to right top, #051937, #002b3d, #133a3c, #35473f, #50534b);
        }
    }
    img {
        width: 15rem;
        height: 15rem;
    }
    p {
        text-align: center;
        color: $color-blanco;
        font-size: 10pt;
    }
}

h1 {
    font-size: map-get($tipoH1, tamfuente);
    font-weight: map-get($tipoH1, tipo);
    font-family: $fuente-principal;
    color: $color-blanco;
    text-align: map-get($tipoH1, centro);
    padding: 1rem;
}

h2 {
    font-size: map-get($tipoH2, tamfuente);
    font-weight: map-get($tipoH2, tipo);
    font-family: $fuente-principal;
    color: $color-blanco;
    text-align: center;
    padding-top: map-get($tipoH2, padd);
}

h3 {
    color: map-get($tipoH3, tipoColor);
    font-size: map-get($tipoH3, tamfuente);
    font-weight: map-get($tipoH3, tipo);
    font-family: map-get($tipoH3, tipoLetra);
    text-align: map-get($tipoH3, izquierda);
}

.container__li {
    font-size: 15pt;
    font-weight: normal;
    font-family: $fuente-principal;
    padding: 1%;
    margin: 1%;
    background-image: linear-gradient(to right top, #051937, #002b3d, #133a3c, #35473f, #50534b);
    &:hover {
        opacity: 1;
        transform: scale(1.15, 1.15);
    }
}


/* flecha arriba */

.irHeader {
    a {
        width: 200px;
        height: 50px;
        position: fixed;
        bottom: 4rem;
        left: 0;
        background-color: transparent;
        text-align: center;
    }
    img {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 3rem;
        box-shadow: 0px 0px 15px 15px #7b67a7;
        padding: 10px;
    }
}

.leyenda {
    background-image: radial-gradient(circle, #070707, #242324, #3f3d3d, #5c5a58, #787875);
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    color: white;
    border: solid 1px $color-blanco;
}