/* maps */

.mapa {
    border: solid 1px $color-azul;
    box-shadow: 10px 10px 8px $color-degrade;
}

.map-responsive {
    width: 600px;
    height: 600px;
    box-shadow: 12px 12px 10px $color-degrade;
}

.cardImagen {
    width: 400px;
    height: 400px;
    box-shadow: 12px 12px 10px $color-degrade;
}

.cardPers {
    background-image: linear-gradient(to right top, #121314, #384144, #617573, #96ad9f, #dbe5c9);
}

.headerMain {
    background-image: url("../images/desktop/Entrenamiento-CrossFit.jpg");
    @include propiedadesImagenBanner;
    padding-bottom: 30%;
}