/* maps */

.mapa {
    border: solid 1px $color-azul;
    box-shadow: 10px 10px 8px $color-degrade;
}

.map-responsive {
    width: 600px;
    height: 600px;
    box-shadow: 12px 12px 10px $color-degrade;
}

.cardImagen {
    width: 400px;
    height: 400px;
    box-shadow: 12px 12px 10px $color-degrade;
}

.cardPers {
    background-image: linear-gradient(to right top, #121314, #384144, #617573, #96ad9f, #dbe5c9);
}

.headerMain {
    grid-area: inicio;
    background-image: url("../images/Entrenamiento-CrossFit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: $color-blanco;
    padding-bottom: 30%;
    p {
        width: 35%;
        font-size: 20pt;
        font-weight: bold;
        font-family: 'Mulish', sans-serif;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
        text-align: center;
        position: relative;
        left: 60%;
        top: 25rem;
    }
}