$fuente-contenedor: 15pt;
$fuente-movile: 10pt;
$color-degrade: #888888;
$color-blanco: white;
$color-azul: blue;
$color-negro: rgb(14, 14, 14);
$color-rojo: red;
$tipo-negrita: bold;
$fuente-principal: 'Mulish',
sans-serif;
$fuente-adicional: 'helvetica';
$tipoH1:( tamfuente: 30pt, centro: center, tipo: bold);
$tipoH2:( tamfuente: 25pt, centro: center, tipo: bold, padd: 5%);
$tipoH3:( tamfuente: 2rem, tipoLetra: $fuente-adicional, tipo: bold, padd: 5%, tipoColor :$color-blanco, izquierda:left);